.main{
  max-width: 1070px;
  margin: 0 auto;
}
.first-view {
  background: linear-gradient(45deg, #8E354A 0%, #8E354A 50%, #4D5139 50%, #4D5139 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
}
.first-view-title{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  h1{
    color: #FFF;
    font-size: 1.2rem;
    margin: 4px;
    margin-left: 8px;
  }
}
.first-view-main{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  width: 100%;
  max-width: 1080px;
  justify-content: center;
}
.first-view-bottom{
  width: 100%;
  height: 8px;
}



.container {
  position: relative;
  overflow: hidden;
}
.background-bold-line-one, .background-bold-line-two{
  position: fixed;
  height: 200vh;
  width: 60px;
  top: -50px;
  background: #ddd;
  transform: rotate(10deg);
  opacity: .2;
  @media screen and (min-width: 1025px){
    width: 200px;
  }
}
.background-bold-line-one{
  left: -150px;
}
.background-bold-line-two{
  right: 0;
}

.top-message{
  text-align: center;
  margin: 16px auto;
  img{
    max-width: 300px;
    width: 100%;
  }
}
.item-section{
  margin: 8px auto 32px auto;
  h2{
    margin: 8px;
    padding-left: 16px;
    display: block;
    border-bottom-style: double;
    position: relative;
    &::before{
      content: ' ';
      width: 8px;
      height: 40px;
      background-color: #D0104C;
      opacity: .2;
      left: 4px;
      position: absolute;
      transform: rotate(25deg);
    }
  }
  .item-section-text{
    margin: 8px;
    padding: 4px;
  }
}
.item-card{
  border: solid 1px #CCC;
  margin: .8rem;
  background-color: #FFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  .item-card-prof{
    padding: .8rem;
    display: flex;
    flex-direction: column;
    .item-card-prof-icon{
      width: 80px;
    }
    .item-card-prof-icon-caption{
      text-align: center;
      color: #444;
    }
  }
  .item-card-prof ~ .item-card-body{
    flex-grow: 2; 
  }
  .item-card-body{
    padding: .8rem;
  }
}

.card-icon-image{
  width: 100%;
  border-radius: 50%;
  border: solid 1px #ccc!important;
  padding: 3px!important;
}

.long-text{
  color: #444;
}






.first-view {
  position: relative;
}





.link-button{
  display: block;
  text-align: center;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 8px;
  background: #dee;
  color: #444;
  text-decoration: none;
  font-size: 1.8rem;
}