*,
::after,
::before {
  box-sizing: border-box;
}
html {
  line-sizing: normal;
}
body {
  margin: 0;
}
[hidden] {
  display: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
h1 {
  margin: 0.67em 0;
}
pre {
  white-space: pre-wrap;
}
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
}
picture {
  display: contents;
}
source {
  display: none;
}
canvas,
img,
svg,
video {
  height: auto;
}
audio {
  width: 100%;
}
img {
  border-style: none;
}
svg {
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


@keyframes upDownButton {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
}



.jumbtron{
  height: calc(100vh - 32px);
  background-image: url('../public/images/background-001.jpg');
  // background-image: url('../public/images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@supports (-webkit-touch-callout: none) {
  .jumbtron {
    height: -webkit-fill-available;
  }
}

.hover-button{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #24936E;
  border-style: solid;
  border-width: 1px;
  border-color: darken($color: #24936E, $amount: 15%);
  box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
  &:hover{
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  }
  a{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #FFF;
    display: block;
    font-size: .8rem;
    text-align: center;
    padding: 4px;
  }
  animation: upDownButton 1.5s infinite;
}


.container{
  max-width: 1024px;
  margin: 0 auto;
}